$breakpoints: (
    desktop: 768px 
);

$sizes: (
    qrcode-component: 250px,
);

$colors: (
    bee-white: hsl(0, 0%, 100%),
    bee-lightgray: hsl(212, 45%, 89%),
    bee-grayishblue: hsl(220, 15%, 55%),
    bee-darkblue: hsl(218, 44%, 22%),
);
