@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    font-family: 'Outfit', sans-serif;
    font-size: 0.9rem; 
    min-height: 100vh;
    background: map-get($colors, bee-lightgray);
    display: flex;
    align-items: center;
    justify-content: center;
}

